@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans:wght@300;400;700&display=swap');

*{
    margin: 0;
    
}
html, body{
  min-height: 100%;
}
body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    list-style:none
    
   }

#cabecalho{
    display: flex;
    background-color: red;
    align-items: center;
    justify-content: space-around;
    padding: 35px;
    max-width:100%;
    max-height:50px;
}
#kc{
max-width: 120px; 

}


#txtdigite{
    background-color: rgba(255, 255, 255, 0.644);
    padding: left 4px;
    font-size:16px;
    border:none;
    height:38px;
    width:400px;
    border-radius:10px 0px 0px 10px;
}

#botaobusca1{

    padding: 11px 11px 12px 11px;
    font-size: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius:0px 13px 13px 0px;
    background:#8d8d8db2;
  }

#caixabot{
    border-radius:15px;

    background-color:#ffffff;
    border:solid 3px #000000;
  }

#botoes{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
    color: black;
    font-weight: bold;
}

#botoes{
    display: flex;
    align-items: center;
    margin: 8px;
    padding: 20px;
    
  }
  
  #entrar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 28px 10px 5px 02px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }
  

  
  #carrinho{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 28px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
   
  }

#iconen{
    max-width: 25px; 
    width: 30px;
    left: 3px;
    position: relative;
    top: 4px;
}

#iconca{
  max-width: 25px; 
  width: 30px;
  left: 30px;
  position: relative;
  top: 4px;
}

#barbr{
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 10px;
  justify-content: center; 
}

.efeito{
border: none;
color:rgb(0, 0, 0);
font-size: 18px;
text-transform:capitalize;
position: relative;
cursor: pointer;
transition: all 400ms ease;
}

.efeito-5{
  background: none;
  margin-left: 20px;
}

.efeito-5:hover{
  transform: skew(-10deg);
}















#tudo{
  color: white;
}

#tdc1{

  background-color: rgba(255, 255, 255, 0.52);
  width: 234px;
  height: 350px;
  border-width: 2px;
  margin-top: 30px;
  border-radius: 15px;
  padding: 20px;
  margin-left: 20px;
}

#caixa1{
  color: #000000;
  margin: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;

}

#foracp{
  background-color: rgba(255, 255, 255, 0.671);
  border-radius: 15px;
  margin-left: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 430px;
  height: 580px;
  color: #000000;
    margin: -400px 10px 100px 850px;
    padding: 20px;
}

#cdp{
  font-size: 22PX;
}

.formu{
  margin-top: 25px;

}

#cds{
  border-radius: 15px;
  background-color: #000000;
  color: white;
  padding: 5px;
}

.bloco{
  border-radius: 10px;
  font-size: '5px';
}

#bl{
  border: none;
  border-radius: 10px;
  background: white;
  padding: 6px;
  font-size:15px;
}


#np{
padding-bottom: 10px;
padding-top: 20px;
}

#tp{
padding-bottom: 10px;
}

#s{
  padding-bottom: 10px;
  padding-top: 20px;
}

#m{
  padding-bottom: 10px;
}







#rodape{
    list-style: none;
    background-color: red;
    display: flex;
    justify-content: space-around;

  }
  
  #c1{
    font-size: 15px;
    list-style: none;
    margin: 40px 20px 2px 2px;
    padding-bottom: 10px;
    font-weight: bold;
    
  }
  
  #c2{
    font-size: 15px;
    list-style: none;
    margin: 40px 20px 2px 2px;
    padding-bottom: 10px;
    font-weight: bold;
  }
  
  #c3{
    font-size: 15px;
    list-style: none;
    margin: 40px 20px 2px 2px;
    padding-bottom: 10px;
    font-weight: bold;
  
  }
  
  #c4{
    font-size: 15px;
    list-style: none;
    margin: 40px 20px 2px 2px;
    padding-bottom: 10px;
    font-weight: bold;
  }
  
  #ate{
    color: white;
    font-size: 20px;
    padding-bottom: 5px;
  }
  
  #ins{
    font-size: 20px;
    color: white;
    padding-bottom: 5px;
  }
  
  #aces{
    font-size: 20px;
    color: white;
    padding-bottom: 5px;
  }
  
  
  #acr{
    font-size: 20px;
    color: white;
    padding-bottom: 5px;
  }



  #pagamentoesegurança{
    list-style: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    flex-direction: row;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

  }
  
#h1111{
   
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 32px;
 }



#c1111{
    display: flex;
}
  
#im1111{
margin: 0px 10px 0px 0px;
}

#im2222{
    margin: 0px 10px 0px 0px;
}

#im3333{
    margin: 0px 10px 0px 0px;
}

#im4444{
    margin: 0px 10px 0px 0px;
}

#im5555{
    margin: 0px 10px 0px 0px;
}

#im6666{
    margin: 0px 10px 0px 0px;
}


#im111{
    margin: 0px 10px 0px 0px;
}

#im222{
    margin: 0px 10px 0px 0px;
}

#im333{
    margin: 0px 10px 0px 0px;
}

#im444{
    margin: 0px 10px 0px 0px;
}

#im555{
    margin: 0px 10px 0px 0px;
}

#h2222{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 32px;
}

#c2222{
    display: flex;

}


#s111{
width: 150px;
margin: 0px 10px 0px 0px;
}

#s222{
    width: 150px;
    margin: 0px 10px 0px 0px;
}

#s333{
    width: 150px;
    margin: 0px 10px 0px 0px;
}



#ultimorodape{
    justify-content: space-around;
    display: flex;
    background-color: rgb(255, 0, 0);
    
}

#kcr{
    width: 80px;
}

#iconns{
    display: flex;
    align-items: center;

}


#google{
    margin-left: 50px;
}

#nmr{
    margin-left: 50px;
}