@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

#cabecalho{
    display: flex;
    background-color: red;
    align-items: center;
    justify-content: space-around;
    padding: 45px;
    max-width:100%;
    max-height:50px;
}
#kc{
max-width: 90px; 

}


#txtdigite{
    background-color: rgba(255, 255, 255, 0.644);
    padding: left 4px;
    font-size:16px;
    border:none;
    height:38px;
    width:400px;
    border-radius:10px 0px 0px 10px;
    outline: none;
    color: black;
    letter-spacing: 2px;
}

#botaobusca1{

    padding: 11px 11px 12px 11px;
    font-size: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-radius:0px 13px 13px 0px;
    background:#8d8d8db2;
  }

#caixabot{
    border-radius:15px;

    background-color:#ffffff;
    border:solid 3px #000000;
    outline: none;
  }

#botoes{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#botoes{
    display: flex;
    align-items: center;
    margin: 8px;
    padding: 20px;
    
  }
  
  #entrar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 28px 10px 5px 02px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }
  

  
  #carrinho{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 28px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
   
  }

#iconen{
    max-width: 25px; 
    width: 30px;
    left: 3px;
    position: relative;
    top: 4px;
}

#iconca{
  max-width: 25px; 
  width: 30px;
  left: 30px;
  position: relative;
  top: 4px;
}

#barbr{
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 10px;
    justify-content: center; 
  }
  
  .efeito{
  border: none;
  color:rgb(0, 0, 0);
  font-size: 18px;
  text-transform:capitalize;
  position: relative;
  cursor: pointer;
  transition: all 400ms ease;
  }
  
  .efeito-5{
    background: none;
    margin-left: 20px;
  }
  
  .efeito-5:hover{
    transform: skew(-10deg);
  }



  #dash{
color: white;
margin-top: 20px;
margin-left: 20px;
  }



  #procad{
    display: flex;

  }



  #produto{
  margin-top: 100px;

}

  #estoque{
    margin-top: 100px;
    padding-bottom: 30px;

}

  #preço{
    margin-top: 100px;
  }

  #editar{
    margin-top: 100px;
}

  #editarb1{
    display: flex;
    margin: 16px;

  }

  #editarb2{
    display: flex;
    margin: 16px;

  }

  #editarb3{
    display: flex;
    margin: 16px;
  }

  #a1{
    margin: 22px;
  }

  #a2{
    margin: 5px;

  }

  #btts{
    background-color: rgb(0, 248, 74);
    color: #000000;
    border-radius: 15px;
    font-size: 15px;
    padding: 4px;
    font-weight: bold;
  }

#roupa1{
  margin-top: 145px;
  padding-right: 5px;
  width: 60px;
  
}

#roupa2{
width: 60px;
padding-right: 5px;
}

#roupa3{
  width: 60px;
  padding-right: 5px;
}

#rps1{
  margin-right: 10px;
}


#box1{
background-color: #c8c8c8;
margin-left: 10px;
margin-right:30px;
margin-bottom: 30px;
margin-top: 20px;
padding: 40px;
}

  #rodape{
    list-style: none;
    background-color: red;
    display: flex;
    justify-content: space-around;
  
  }
  
  #c1{
    font-size: 15px;
    list-style: none;
    margin: 40px 20px 2px 2px;
    padding-bottom: 5px;
    font-weight: bold;
    
  }
  
  #c2{
    font-size: 15px;
    list-style: none;
    margin: 40px 20px 2px 2px;
    padding-bottom: 5px;
    font-weight: bold;
  }
  
  #c3{
    font-size: 15px;
    list-style: none;
    margin: 40px 20px 2px 2px;
    padding-bottom: 5px;
    font-weight: bold;
  
  }
  
  #c4{
    font-size: 15px;
    list-style: none;
    margin: 40px 20px 2px 2px;
    padding-bottom: 5px;
    font-weight: bold;
  }
  
  #ate{
    color: white;
    font-size: 20px;
    padding-bottom: 5px;
  }
  
  #ins{
    font-size: 20px;
    color: white;
    padding-bottom: 5px;
  }
  
  #aces{
    font-size: 20px;
    color: white;
    padding-bottom: 5px;
  }
  
  
  #acr{
    font-size: 20px;
    color: white;
    padding-bottom: 5px;
  }

  #pagamentoesegurança{
    list-style: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    flex-direction: row;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

  }
  
#h1111{
   
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 32px;
 }



#c1111{
    display: flex;
}
  
#im1111{
margin: 0px 10px 0px 0px;
}

#im2222{
    margin: 0px 10px 0px 0px;
}

#im3333{
    margin: 0px 10px 0px 0px;
}

#im4444{
    margin: 0px 10px 0px 0px;
}

#im5555{
    margin: 0px 10px 0px 0px;
}

#im6666{
    margin: 0px 10px 0px 0px;
}


#im111{
    margin: 0px 10px 0px 0px;
}

#im222{
    margin: 0px 10px 0px 0px;
}

#im333{
    margin: 0px 10px 0px 0px;
}

#im444{
    margin: 0px 10px 0px 0px;
}

#im555{
    margin: 0px 10px 0px 0px;
}

#h2222{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 32px;
}

#c2222{
    display: flex;

}


#s111{
width: 150px;
margin: 0px 10px 0px 0px;
}

#s222{
    width: 150px;
    margin: 0px 10px 0px 0px;
}

#s333{
    width: 150px;
    margin: 0px 10px 0px 0px;
}



#ultimorodape{
    justify-content: space-around;
    display: flex;
    background-color: rgb(255, 0, 0);
    
}

#kcr{
    width: 80px;
}

#iconns{
    display: flex;
    align-items: center;

}


#google{
    margin-left: 50px;
}

#nmr{
    margin-left: 50px;
}